* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 80vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}
.button {
  background-color: chartreuse;
  border: none;
  padding: 4px 15px;
  cursor: pointer;
}
.timer {
  background-color: #dfbcff;
  padding: 10px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer__timeText {
  font-size: 2rem;
}
.timer__name {
  color: white;
}
.timer__name:focus {
  color: red;
}
.timer__button {
  color: red;
  padding: 8px 20px;
}
.timer__button--small {
  background-color: red;
  color: white;
  padding: 3px 3px;
  margin-top: 4px;
}
